.box{
    background-color: #fff;
    border-radius: 5%;
    position: absolute;
    z-index: 20;
    width: 100%;
}
.link{
    text-decoration: none;
    color: #000;
}
.link:hover{
    color: #000;
}