
.Login{
    background-color: #8cbded;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2rem;


    .wrap{
        margin: 0 auto;
        width: 32rem;
        padding: 5rem 3rem;
        max-height: 40rem;
    }

    .field{
        display: block;
        background-color: #f5f5f5;
        padding: 0.5rem;
        font-size: 2rem;
        margin-left: 1rem;
        color: rgb(15, 128, 226);
        box-sizing: border-box;
        border-radius: 20%;
        border: 1px solid #000000;
        cursor: pointer;
    }
    .error{
        border: .3rem solid #ea1b29;
        font-size: 2rem;
        width: 100%;
        color:#ea1b29
    }
    .form_input:focus,
    .error:focus,
    .succes:focus{
        outline: 0px solid;
        padding: 0;
    }
    .form_input:focus,
    .error:focus-visible,
    .succes:focus-visible{
        outline: 0px solid;
        padding: 0;
    }

    .succes{
        border: 1px solid rgb(35, 160, 69);
        background-color: #ffffff;
        color: rgb(35, 160, 69);
        font-size: 2rem;
        width: 100%;
    }
    .form{
        position:relative;
        outline: none;
        width: 100%;
        z-index: 3;
    }
    .form_input,
    .error{
        background-color: rgb(249, 249, 249);
        border: .21rem solid rgb(210, 28, 28);
        color:#000000;
    }

    .form_input,
    .error,
    .succes{
        width: 100%;
        font-size: 2rem;
        margin-bottom: 3rem;
        position: relative;
        border-radius: 1rem;
    }

    .exitBack{
        display: block;
        background-color: #f5f5f5;
        padding: 0.5rem;
        font-size: 2rem;
        position: absolute;
        left: 0;
        box-sizing: border-box;
        border-radius: 20%;
        border: 1px solid #000000;
        cursor: pointer;
    }
    .NavText{
        text-decoration: none;
        color: rgb(15, 128, 226);
    }
    .buttonfield{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .openAccess{
        display: block;
        background-color: rgb(15, 128, 226);
        padding: 0.5rem;
        font-size: 2rem;
        color: #F5F5F5;
        margin-left: 1rem;
        border-radius: 20%;
        box-sizing: border-box;
        border: 2px solid rgb(0, 0, 0);
        cursor: pointer;
    }


}
